      
      <section ><!-- Meetups View -->
      <div ng-controller="AuthenticationController" class="container">
        <h1>User Dashboard</h1>
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="/">Home</a></li>
              <li role="presentation"><a href="/classes/myClasses">My Classes</a></li>
              <li role="presentation"><a href="/classes/myCalendar">My Calendar</a></li>
              <li role="presentation"><a href="/user/myAccount">My Account</a></li>
              <li role="presentation"><a href="/user/myTeachers">My Teachers</a></li>
            </ul>     
      </div>
    </section>